@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lobster&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin-top: 130px;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
    margin-left: 5%;
    margin-right: 5%;
    padding: 25px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background: #9223f3;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-top-right-radius: 35px;
    border-top-left-radius: 35px;
    flex-wrap: wrap;
}

.wrapper .table {
    width: calc(30%-20px);
    padding: 30px;
    border-radius: 15px;
    background: #fff;
    position: relative;

}

.table .price-section {
    display: flex;
    justify-content: center;
}



.price-section .price-area {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    padding: 2px;
}

.price-area .inner-area {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    color: #fff;
    line-height: 130px;
    text-align: center;
    position: relative;
}

.price-area .inner-area .text {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: -40px;
    left: 45px;
}

.price-area .inner-area .cents {
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    top: -1px;
    left: 75px;
}

.table .plano {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.table .from {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.price-area .inner-area .price {
    font-size: 45px;
    font-weight: 500;
    position: absolute;
    top: -10px;
    left: 3px;
}

.table .package-name {

    width: 100%;
    height: 4px;
    margin: 50px 0;
    position: relative;

}

.table .package-name::before {
    position: absolute;
    content: "Plano Roubo e Furto";
    left: 50%;
    top: 50%;
    background: #fff;
    font-size: 25px;
    font-weight: 500;
    padding: 1 15px;
    transform: translate(-50%, -50%);
}

.table .features li {
    margin-bottom: 15px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.features li .list-name {

    font-size: 17px;
    font-weight: 400;
}

.table .btn {

    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.table .btn button {
    width: 80%;
    height: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.table .btn button:hover {
    border-radius: 5px;
}

.table ::selection {
    color: #fff;
}

.basic ::selection,
.basic .price-area,
.basic .inner-area {
    background: #ffd861;
}

.basic .btn button {
    background: #fff;
    color: #ffd861;
    border: 2px solid #ffd861;
}

.basic .btn button:hover {
    color: #fff;
    background: #ffd861;
}

.standard .btn button:hover {
    color: #a26bfa;
    background: #fff;
}

.standard ::selection,
.standard .price-area,
.standard .inner-area,
.standard .btn button {
    background: #a26bfa;
    color: #fff;
}

.standard .btn button {
    background: #fff;
    color: #a26bfa;
    border: 2px solid #a26bfa;
}

.standard .btn button:hover {
    color: #fff;
    background: #a26bfa;
}

.premium ::selection,
.premium .price-area,
.premium .inner-area {
    background: #43ef8b;
}

.premium .btn button {
    background: #43ef8b;
    color: #fff;
    border: 2px solid #43ef8b;
}

.premium .btn button:hover {
    color: #43ef8b;
    background: #fff;
}

.basic .package-name {
    background: #ffecb3;
}

.standard .package-name {
    background: #a26bfa;
}

.premium .package-name {
    background: #43ef8b;
}

.basic .package-name::before {
    content: "Plano Roubo e Furto";
}

.standard .package-name::before {
    content: "Plano Padrão";
}

.premium .package-name::before {
    content: "Plano Master";
}

.table .ribbon {
    height: 150px;
    width: 150px;
    position: absolute;
    top: -13px;
    left: -13px;
    overflow: hidden;
}

.table .ribbon::before,
.table .ribbon::after {
    position: absolute;
    content: "";
    display: block;
    border: 7px solid #43ef8b;
    border-top-color: transparent;
    border-left-color: transparent;
}

.table .ribbon::before {
    top: 0px;
    right: 23px;
}

.table .ribbon::after {
    bottom: 23px;
    left: 0px;
}

.table .ribbon span {
    position: absolute;
    background: #43ef8b;
    width: 200px;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    top: 30px;
    right: 0px;
    text-transform: uppercase;
    transform: rotate(-45deg);
    box-shadow: 0 5px 10px rgb(0, 0, 15, 0.12);
}

.navbar {
    transition: top 0.3s;
    top: 0;
    margin-left: 5%;
    margin-right: 5%;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background: #fff;
    display: flex;
    flex-flow: row wrap;
    height: 130px;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 90%;
    z-index: 1000;
}

.logo {
    flex: 10%;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    white-space: nowrap;
}

.logo h1 {
    font-family: 'Inria-Serif', cursive;
    color: black;
    font-size: 33px;
}

.menu {
    flex: 10%;
    text-align: center;
    margin-right: 5%;
    margin-left: 0;
    padding: 20px;
    width: 50%;
    white-space: nowrap;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 10px;


}

.menu a:hover {
    color: #ecb6e6;
    border-top: 4px solid #6e379b;
}

#botao {
    transition: all 0.3s ease;
    background: black;
    padding: 10px 25px;
    color: white;
    border: 1px solid #391d50;
    border-radius: 25px;
    margin-left: 5%;
    margin-right: 10%;

}

#botao:hover {
    color: #6e379b;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

#botao2 {
    padding: 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.3s ease;

}

#botao2:hover {
    color: #6e379b;
    border-radius: 5px;
    background: #ecb6e6;
    cursor: pointer;

}

.header {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    background: #fff;
}

.headline {
    align-self: flex-start;
    flex: 35%;

}

.headline h2 {
    align-self: flex-start;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}

.headline p {

    font-size: 25px;
    text-align: justify;
    margin-left: 5%;
}

.img-headline {
    text-align: left;
    flex: 30%;
    text-align: center;
}


.item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;

}

.esquerda {
    width: 400px;
    height: auto;
    margin-right: auto;
}

.direita {

    width: 400px;
    height: auto;
    margin-left: auto;
}

.listaEsquerda {

    margin-left: 25%;
    width: 50%;
}

.listaEsquerda li {
    text-align: left;
}

.listaDireita {

    margin-right: 10%;
    width: 50%;
}

.listaDireita li {
    text-align: start;
}

li {
    font-size: 20px;
    margin-bottom: 5px;
}

.feedback {
    color: black;
    font-size: 50px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.img-feedback {
    text-align: center;
    display: inline-block;
    border-radius: 15px;
    padding: 20px;
    background: #fff;
    width: 500px;
    height: 250px;
    position: relative;
}


section {
    width: 90%;
    margin: 5%;
    display: inline-block;
    text-align: center;
    background: #fff;
    border-radius: 35px;

}

section h2,
.title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
    border-radius: 35px;
}

.planos {
    border-radius: 35px;
    padding-top: 0px;
    background: #fff;
    padding-bottom: 35px;

}

.container {
    width: 90%;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 35px;
    background: #fff;
}

.conteudo {
    margin-top: 130px;

}

footer {
    padding-bottom: 35px;
    width: 100%;

    text-align: center;
    background-image: linear-gradient(180deg, #9223f3, rgb(2, 1, 61));

}

.feedback1 {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.logo-rodape {
    padding-bottom: 140px;

}

.agencia {
    font-family: 'Lobster', cursive;
    color: white;
    /* border: 1px solid red; */
    font-size: 33px;
}

.up {
    position: fixed;
    bottom: 50px;
    left: 5%;
}

.whats {
    position: fixed;
    bottom: 50px;
    right: 5%;
}