@media screen and (max-width: 1250px) {
    .navbar {
        display: grid;
        flex-direction: column;
    }

    section {
        width: 80%;
    }
}


@media screen and (max-width: 1250px) {
    .menu {
        padding: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 1210px) {
    .menu {
        margin-right: 0;
    }

    #inicio {
        padding: 0;
    }
}

@media screen and (max-width: 1085px) {
    section {
        width: 90%;
    }
}

@media screen and (max-width: 1020px) {
    #inicio {
        display: block;
        width: 100%;
    }

    #inicio p {
        width: 90%;
        margin: auto;
    }

    .imgInicio {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 100%;
    }
}


@media screen and (max-width: 990px) {

    .wrapper .table {
        width: calc(35% - 20px);
    }

    .item {
        width: 90%;
        margin: auto;
    }
}

@media screen and (max-width: 815px) {

    .wrapper .table {
        width: 48%;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 660px) {

    .navbar {
        width: 95%;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }

    .item {
        display: block;
        width: 95%;
        margin: 2.5%;
        justify-content: center;
        align-items: center;
    }

    .images {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .direita {
        width: 150px;
        height: 100px;
        margin: 5px;
    }

    .lista li {
        font-size: 15px;
        width: 80%;
        margin: auto;
    }

    .item {
        margin: auto;

    }

}

@media screen and (max-width: 630px) {
    .logo h1 {
        font-size: 30px;
    }

    .wrapper {
        padding: 5px;

    }

    .wrapper .from {
        padding: 10px;
        font-size: 20px;
    }

    .premium .package-name::before,
    .standard .package-name::before,
    .basic .package-name::before {
        font-size: 15px;
        padding: 3px;
    }

}

@media screen and (max-width:520px) {
    .menu a {
        font-size: 13px;
        padding: 3px;
    }

    .header h2 {
        font-size: 40px;
    }

    .header h3 {
        font-size: 15px;
    }

}

@media screen and (max-width: 460px) {
    .img {
        height: 200px;
        width: auto;
    }

    .wrapper {
        padding: 15px;
        width: 90%;
    }
}

@media screen and (max-width: 420px) {
    .menu a {
        padding: 0;
    }
}

@media screen and (max-width: 400px) {
    .img {
        width: 200px;
        height: auto;
    }


    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 380px) {
    .logo h1 {
        font-size: 20px;
    }

    .img {
        height: 170px;
        width: auto;
    }
}

@media screen and (max-width: 340px) {
    .img {
        height: 150px;
        width: auto;
    }
}